.Body_body__box__Y49P- {
    margin: 96px 0 0 72px;
    width: calc(100vw - 72px);
    min-height: calc(100vh - 96px);
}
.Body_body__wrapper__6cj6C {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 96px);
}
.Body_body__wrapper__6cj6C {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 96px);
}
.Navbar_navbar__container__3Q3Zl {
    display: flex;
    flex-direction: row;
    background-color: #f0efff;
    height: 64px;
    width: 100%;
    padding: 16px 20px;
    border-top: 1.5px solid #dedede;
    justify-content: space-between;
}
.gFWlwy {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.jss9 {
    width: 100%;
}
.jss10 {
    width: 100%;
    margin-bottom: 16px;
}
.MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
}
.jss11 {
    min-width: 750px;
}

.MuiTable-root {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}
table {
    border: 1px solid #f8f6f9;
    border-collapse: collapse;
}
table {
    width: 100%;
}
table {
    border-collapse: collapse;
}
.MuiTableHead-root {
    display: table-header-group;
}
.material-th {
    background: #f7f5fc;
    color: #33028a;
}
tbody, thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}
tbody, thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 0 0 4px;
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.54);
}

.jss13 {
    padding: 9px;
}

.MuiIconButton-colorSecondary {
    color: #f50057;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.jss16 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.MuiTableCell-alignLeft {
    text-align: left;
}


.MuiTableCell-paddingNone {
    padding: 0;
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
.MuiTableSortLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}


.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
[role=button] {
    cursor: pointer;
}
[role=button] {
    cursor: pointer;
}
.MuiTableSortLabel-iconDirectionAsc {
    transform: rotate(180deg);
}


.MuiTableSortLabel-icon {
    opacity: 0;
    font-size: 18px;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: 4px;
    user-select: none;
    margin-right: 4px;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}
.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-paddingNone {
    padding: 0;
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
.MuiTableSortLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
[role=button] {
    cursor: pointer;
}
[role=button] {
    cursor: pointer;
}
.MuiTableSortLabel-iconDirectionAsc {
    transform: rotate(180deg);
}

.MuiTableSortLabel-icon {
    opacity: 0;
    font-size: 18px;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: 4px;
    user-select: none;
    margin-right: 4px;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}

.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
.MuiTableSortLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
[role=button] {
    cursor: pointer;
}
[role=button] {
    cursor: pointer;
}
.MuiTableSortLabel-iconDirectionAsc {
    transform: rotate(180deg);
}

.MuiTableSortLabel-icon {
    opacity: 0;
    font-size: 18px;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: 4px;
    user-select: none;
    margin-right: 4px;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}
.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
.MuiTableBody-root {
    display: table-row-group;
}
tbody {
    display: block;
    overflow: auto;
    table-layout: fixed;
    max-height: 50vh;
}
tbody, thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}
tbody, thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 0 0 4px;
}


.MuiTableCell-body {
    color: rgba(0, 0, 0, 0.87);
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
tr td {
    border-collapse: initial;
    border-spacing: 0 15px;
}
.descTable, .descTable>th, td {
    padding: 15px;
    margin: 0;
}
.descTable, .descTable>th, .ticketTable, .ticketTable>th, td {
    border: 0;
    vertical-align: text-top;
}
td {
    z-index: auto;
}
td {
    overflow: hidden;
}
.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.54);
}

.jss13 {
    padding: 9px;
}

.MuiIconButton-colorSecondary {
    color: #f50057;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}


.jss16 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.MuiTableCell-paddingNone {
    padding: 0;
}

.MuiTableCell-body {
    color: rgba(0, 0, 0, 0.87);
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-body {
    color: rgba(0, 0, 0, 0.87);
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
tr td {
    border-collapse: initial;
    border-spacing: 0 15px;
}
.descTable, .descTable>th, td {
    padding: 15px;
    margin: 0;
}
.descTable, .descTable>th, .ticketTable, .ticketTable>th, td {
    border: 0;
    vertical-align: text-top;
}
td {
    z-index: auto;
}
td {
    overflow: hidden;
}
.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-body {
    color: rgba(0, 0, 0, 0.87);
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
tr td {
    border-collapse: initial;
    border-spacing: 0 15px;
}
.descTable, .descTable>th, td {
    padding: 15px;
    margin: 0;
}
.descTable, .descTable>th, .ticketTable, .ticketTable>th, td {
    border: 0;
    vertical-align: text-top;
}
td {
    z-index: auto;
}
td {
    overflow: hidden;
}
.MuiTableCell-alignLeft {
    text-align: left;
}

.MuiTableCell-body {
    color: rgba(0, 0, 0, 0.87);
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
tr td {
    border-collapse: initial;
    border-spacing: 0 15px;
}
.descTable, .descTable>th, td {
    padding: 15px;
    margin: 0;
}
.descTable, .descTable>th, .ticketTable, .ticketTable>th, td {
    border: 0;
    vertical-align: text-top;
}
td {
    z-index: auto;
}
td {
    overflow: hidden;
}
.m-0 {
    margin: 0 !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.p-1 {
    padding: .25rem !important;
}
.m-0 {
    margin: 0 !important;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
Button {
    margin-top: 20px;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}