.Navbar_navbar__container__3Q3Zl {
    display: flex;
    flex-direction: row;
    background-color: #f0efff;
    height: 64px;
    width: 100%;
    padding: 16px 20px;
    border-top: 1.5px solid #dedede;
    justify-content: space-between;
}

